*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-rows: 8% 1fr 10%;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "hd hd"
    "main side"
    "ft ft";
}

#head{
    grid-area: hd;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0.6rem;
    margin-right: 1rem;
}

#sub{
    font-size:1.2rem;
}
#main{
    grid-area: main;
    padding:0.6rem;
    margin:1rem;
    display: flex;
    flex-direction: column;
}
#side{
    grid-area: side;
    padding:1rem;
}
#foot{
    grid-area:ft;
    display: flex;
    flex-direction: row;
    margin:1rem;
}

#head img{
    height:3rem;
    width: 2.5rem;
}

#head h1{
    text-decoration: underline;
}

#main h2{
    font-size: 2.3rem;
}

#date{
    color: grey;
}

#name{
    color:rgb(69, 69, 248);
    text-decoration: underline;
}

.content{
    /* margin-top:1.3rem; */
    font-size:0.9rem;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

p{
    color: rgb(66, 66, 66);
}

#thirdBox{
    border: 2px solid rgb(165, 165, 165);
    padding:0.3rem;
}

.subhead, .heading{
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

#list{
    margin-left:2rem;
}

.aboutBox{
    background-color: rgb(223, 237, 241);
    padding:1rem;
}

.aboutBox h3, .archiveBox h3, .else h3{
    font-size: 1.5rem;
    font-style: italic;
}

.archiveBox, .else{
    margin-top: 1rem;
    padding:1rem;
}

.text{
    font-family: "Montserrat", sans-serif;
}

.old{
    border: 2px solid rgb(27, 107, 255);
    border-radius: 1.5rem;
    padding:0.3rem;
    margin-right: 1rem;
    width:7.3%;
    font-size: 1.1rem;
    color:rgb(27, 107, 255)
}

.new{
    border: 2px solid grey;
    border-radius: 1.5rem;
    padding:0.3rem; 
    width:7.3%;
    font-size: 1.1rem;
    color:grey;
}